{
    "replace": [
        {
            "select": "head",
            "from": "Foo",
            "to": "Bar"
        },
        {
            "select": "body",
            "position": "end",
            "file": "body.inc"
        }
    ],
    "inject": [
        {
            "select": "head",
            "position": "end",
            "payload": "<script type='text/javascript'>alert(\"yo, 'sup?\");</script>"
        }
    ]
}
